* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-background-color: #1e1e1e;
  --border-color: #3a3a3a;
  --inner-container-bg: #2a2a2a;
  --text-color: #e0e0e0;
  --link-color: #a0a0a0;
  --shiny-color: #ffdf01;
}

body {
  background-color: var(--main-background-color);
  font-family: sans-serif;
  color: #a0a0a0;
  line-height: 1.6;
}

.main-container {
  display: grid;
  max-width: 1200px;
  grid-template-columns: 350px 1fr; /*350px to sidebar, ramaining to next container*/
  gap: 40px;
  padding-top: 40px;
  margin: 0 auto;
}

.sidebar {
  padding: 35px;
  height: 90vh;
  background-color: var(--inner-container-bg);
  border-radius: 20px;
  border: 1px solid var(--border-color);
}

.main-content {
  background-color: var(--inner-container-bg);
  border-radius: 20px;
  border: 1px solid var(--border-color);
  padding: 35px;
}

.profile {
  text-align: center; /*makes all inline elements centre*/
}

/*seedha img tag pe nhi lagana warna saare pe lag jauegi styling*/
/*.profile > img targets immediate child only, without it styling comes to all
img's under profile */
.profile > img {
  height: 140px;
  width: 140px;
  border: 5px solid var(--border-color);
  border-radius: 50%;
}

.profile h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 10px;
  color: var(--text-color);
}

.profile p {
  background-color: var(--main-background-color);
  padding: 5px 15px;
  color: var(--shiny-color);
  border: 1px solid var(--border-color);
  font-size: 0.8rem;
  border-radius: 8px;
  display: inline-block; /*poori 100% space nhi lega*/
  margin-top: 8px;
}

/*Contact Section*/
.contact {
  margin-top: 30px;
  border-top: 2.5px solid var(--border-color);
  padding-top: 15px;
}

.label {
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--link-color);
}

.value {
  color: var(--text-color);
  text-decoration: none;
}

.email,
.phone,
.location {
  margin-bottom: 15px;
}

/*Social media links*/
.social {
  margin-top: 30px;
  border-top: 2.5px solid var(--border-color);
  padding-top: 15px;
  text-align: center;
}

.social img {
  height: 25px;
  width: 25px;
  filter: grayscale(1) invert(0.7);
  transition: filter 0.3s ease; /*filter style pe change 0.3sec le slow gradual*/
  margin-left: 5px;
}

.social img:hover {
  filter: grayscale(0) invert(0);
}

.social a {
  text-decoration: none;
}

/*Main content*/

/*Navigation*/
nav {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}
nav a {
  text-decoration: none;
  color: var(--link-color);
  font-weight: 500;
  transition: color 0.3s ease;
}
#navigation {
  border-bottom: 2.5px solid var(--border-color);
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.active,
nav a:hover {
  color: var(--shiny-color);
}

/*About section*/
.about-heading {
  color: var(--text-color);
  font-size: 1.7rem;
  margin-bottom: 10px;
}

.line {
  width: 60px;
  height: 4px;
  background-color: var(--shiny-color);
  margin-bottom: 13px;
}

.content {
  text-align: justify;
}

#about {
  margin-bottom: 30px;
}

/*Skills section*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 40px;
}
.item{
    padding: 20px;
    border-radius: 10px;
    border: 2.5px solid var(--border-color);
    text-align: center;
    background-color: var(--main-background-color);
    margin-top: 10px;
    transition: transform 0.3s ease, boxshadow 0.3s ease;
}
.item img {
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
}

.item h3{
    font-size: 1rem;
    font-weight: 600;
}

.item:hover{
   transform: scale(1.1);
   box-shadow: 0px 0px 10px 5px rgba(71, 75, 33, 0.3);
}

